header {
  font-size: 100px;
  font-color: SeaGreen
}

h1 {
  font-size: 30px;
  font-color: black;
  font-family: Helvetica;
}

img {
  height: 150px;
}

.description {
  font-size: 20px;
}

.external-link {
  color: SeaGreen;
}

h1, h2, p, li {
  font-family: Helvetica;
}
